/* Basic */
body {
    background-color: #C4C5C7;
    color: #333D46;
    font-family: 'Gotu', sans-serif;
    overflow: auto;
}

hr { 
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Title */
.title {
    background-image: url(images/covid19.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.title-font {
    color: #556A7F;
    font-size: 250%;
    text-align: center;
}

.subtitle-font {
    color: #687480;
    text-align: center;
}

/* Layout */
.row:after { /* Clear floats after the columns */
    clear: both;
    content: "";
    display: table;
}

.column {
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
    width: 30%;
}

/* Buttons */
a.button {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

a.button:hover {
    background-color: #687480;
}
a.button:link,
a.button:visited {
    color: #333D46;
}

/* Link */
a.resource {
    text-decoration: none;
}

a.resource:hover {
    font-weight: bold;
}

a.resource:link,
a.resource:visited {
    color: #333D46;
}