{% extends "base.html" %}

{% block content %}
        <!--Content-->
        <div class='row'>
            {% if current_user.scores.all() == [] %}
            <div class='column'>
                Hi, {{ current_user.username }}!</h1>
                Here is a platform for checking your knowledge of COVID-19
                <!--Button-->
                <div class='center'><a class='button' href='question.html'>Start</a></div>
            </div>
            {% else %}
            <div class='column'>
                Welcome back {{ current_user.username }}!</h1>
                You have done the test.
                <!--Button-->
                <div class='center'><a class='button' href='result.html'>Click here to see your result</a></div>
            </div>
            {% endif %}
        </div>  
{% endblock %}