{% extends "base.html" %}

{% block content %}
<div class="quote-block">
	
		<form action="/result" method="POST">
			{{ form.hidden_tag() }}
		<ol>
			<h1>Part I. General knowledge of COVID-19 Symptoms</h1>
		{% for pull in pullquest1 %}
			<li>{{ pull.question }}</li><br>
			<input type='radio' value='{{ pull.option1 }}'>{{ pull.option1 }}<br> 
			<input type='radio' value='{{ pull.option2 }}'>{{ pull.option2 }}<br>
			<input type='radio' value='{{ pull.option3 }}'>{{ pull.option3 }}<br> 
			<input type='radio' value='{{ pull.answer }}'>{{ pull.answer }}<br><br> 
		{% endfor %}
			<h1> Part II. Awareness of protection yourself from COVID-19 (Self-protection)</h1>
		{% for pull in pullquest2 %}
			<li>{{ pull.question }}</li><br>
			<input type='radio' value='{{ pull.option1 }}'>{{ pull.option1 }}<br> 
			<input type='radio' value='{{ pull.option2 }}'>{{ pull.option2 }}<br>
			<input type='radio' value='{{ pull.option3 }}'>{{ pull.option3 }}<br> 
			<input type='radio' value='{{ pull.answer }}'>{{ pull.answer }}<br><br> 
		{% endfor %}
			<h1>Part III. Awareness of other people(Protecting yourself from social activity)</h1>
			{% for pull in pullquest3 %}
			<li>{{ pull.question }}</li><br>
			<input type='radio' value='{{ pull.option1 }}'>{{ pull.option1 }}<br> 
			<input type='radio' value='{{ pull.option2 }}'>{{ pull.option2 }}<br>
			<input type='radio' value='{{ pull.option3 }}'>{{ pull.option3 }}<br> 
			<input type='radio' value='{{ pull.answer }}'>{{ pull.answer }}<br><br> 
		{% endfor %}
		</ol>
		{{ form.submit() }}
		</form>
	</div>
{% endblock %}