<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <link rel='stylesheet' href='mystyle.css'>
        <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
        <title>Submit</title>
    </head>

    <body>

        <!--Title-->
        <div class='title'>
            <h1 class='title-font'>COVID-19 Quiz</h1>
            <p class='subtitle-font'>Protect yourself and others - Test your knowledge of COVID-19</p>
        </div>

        <!--Content-->
        <div class='row'>
            <div class='column'>
                <div style='font-size: 250%;'>Congratulation!</div>
                <div style='padding: 50px;'>You have done the COVID-19 Quiz</div>
                
                <!--Button-->
                <div class='center'>
                    <a class='button' href='theme.html'>&#8678; Back to Theme</a>
                    <a class='button' href='result.html'>Show Result &#8680;</a>
                </div>
            </div>
        </div>

        <hr>

        <!--Footer-->
        <div class='row'>
            <div class='column footer'>
                <b>Contact Us</b><br/><br/>
                Duy Tang: 22803018@student.uwa.edu.au<br/>
                Eddie Liu: 22781942@student.uwa.edu.au<br/>
                Jasmine Meng: 22665473@student.uwa.edu.au<br/>
                Vian Tian: 22593034@student.uwa.edu.au<br/>
            </div>
            <div class='column footer'>
                <b>Popular Resources</b><br/><br/>
                <a class='resource' href='https://covid-19.wileam.com' target='_blank' title='CoVid-19 Updates'>CoVid-19 Updates</a>
            </div>
            <div class='column footer'>
                <b>Follow Us</b><br/><br/>
                <a href='https://github.com/thanhduytang' target='_blank' title='GitHub'>
                <img src='images/GitHub.png' alt='GitHub logo'></a>
            </div>           
        </div>
        
    </body>
</html>